body{
background-image: url(http://weknowyourdreams.com/images/dolphin/dolphin-06.jpg);
background-repeat: repeat-y;
background-color: #51E5FF;
}

h1{
font-family: 'DancingScriptRegular';
font-size: 40px;
}